# csv 2 parquet

In [15]:
import pandas as pd

In [35]:
df = pd.read_csv('~/data/csv/20240717/csv.csv', 
                 on_bad_lines='skip', 
                 names=['dt', 'cmd', 'cnt'])

ValueError: invalid literal for int() with base 10: '^60^'

In [17]:
df.tail(3)

              dt                          cmd   cnt
89  ^2024-07-17^  ^~///app/savehistory/sv.sh^  ^60^
90  ^2024-07-17^   ^~//app/savehistory/sv.sh^  ^60^
91  ^2024-07-17^    ^~/app/savehistory/sv.sh^  ^60^

In [18]:
df.head(3)

             dt           cmd   cnt
0  ^2024-07-17^           ^'^  ^60^
1  ^2024-07-17^          ^탶�^  ^30^
2  ^2024-07-17^  ^./goaws.sh^  ^60^

In [19]:
df['dt'] = df['dt'].str.replace('^', '')
df['cmd'] = df['cmd'].str.replace('^', '')
df['cnt'] = df['cnt'].str.replace('^', '')

In [22]:
df.tail(3)

            dt                        cmd cnt
89  2024-07-17  ~///app/savehistory/sv.sh  60
90  2024-07-17   ~//app/savehistory/sv.sh  60
91  2024-07-17    ~/app/savehistory/sv.sh  60

In [26]:
fdf = df[df['cmd'].str.contains('aws')]

In [27]:
fdf

           dt                                                cmd cnt
2  2024-07-17                                         ./goaws.sh  60
5  2024-07-17  AWS=ec2-43-201-37-254.ap-northeast-2.compute.a...  60

/tmp/ipykernel_772857/2612610420.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fdf['cnt'] = fdf['cnt'].astype(int)

In [31]:
fdf['cnt'].sum()

In [32]:
print(cnt)

6060

In [13]:
fdf.dtypes

dt     object
cmd    object
cnt    object
dtype: object